.itemShape {
    height: 10vh;
    width: 10vh;
    border-radius: 100%;
    background-color: rgb(255,255, 255);
    box-shadow: 3px 0px 10px rgb(0,0, 0);
    bottom: 3vh;
    right: 3vh;
}

.Navigation {
    @extend .itemShape;
    position: fixed;
    z-index: 1;

    &__item {
        @extend .itemShape;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 2vh;
        color: rgb(0,0, 0);

        &--selected {
            z-index: 1;
        }
    }
}